// 颜色定义规范
$color-background: #ffffff;
$color-background-d: rgba(0, 0, 0, 0.6);
$color-highlight-background: #333;
$color-dialog-background: #666;
$color-theme: #28dbed;
$color-sub-theme: #00b8ed;
$color-text: #ffffff;
$color-text-dark: #303133;
$color-text-gray: #909399;
$color-text-gl: #606266;
$color-text-red: #ff0000;
$color-text-green: #07bb07;
$color-text-theme: #00b9ef;

// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large-s: 18px;
$font-size-large: 20px;
$font-size-large-x: 22px;
